[submodule ".registry"]
	path = .registry
	url = https://github.com/tresor4k/tresor4k.r-universe.dev
	branch = HEAD
[submodule "frbaremekm"]
	path = frbaremekm
	url = https://github.com/tresor4k/fr-bareme-km-r
[submodule "marronniers"]
	path = marronniers
	url = https://github.com/tresor4k/marronniers-r
[submodule "wh347"]
	path = wh347
	url = https://github.com/tresor4k/wh347-r
