[submodule ".registry"]
	path = .registry
	url = https://github.com/tresor4k/tresor4k.r-universe.dev
	branch = HEAD
[submodule "marronniers"]
	path = marronniers
	url = https://github.com/tresor4k/marronniers-r
